/* Nice font for button from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  transition: all 0.5s;
}

@media (width: 3840px) and (height: 2160px) {
  #container {
    position: absolute;
    font-size: 25px !important;
    height: auto;
    top: 20%;
    right: 20%;
    border-radius: 5px;
    background: transparent !important;
  }

  #buttons {
    font-size: 25px !important;
    max-height: 75vh;
    width: 300px;
    overflow-x: none;
    overflow-y: auto;
    padding: 10px;
  }

  div > .text {
    flex-direction: column;
    font-size: 25px !important;
    overflow: hidden;
  }

  div > .header {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
    overflow: wrap;
    color: white;
    font-size: 25px !important;
    font-weight: 400;
    overflow: hidden;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #17171781;
  border-radius: 10px;
}

#container {
  position: absolute;
  height: auto;
  top: 20%;
  right: 7%;
  border-radius: 5px;
  background: transparent !important;
}
.button {
  cursor: pointer;
  display: flex;
  flex-direction: row !important;
  gap: 10px;
}
.title {
  cursor: default;
  gap: 10px;
  display: flex;
  flex-direction: row !important;
}

#buttons {
  max-height: 75vh;
  width: 300px;
  overflow-x: none;
  overflow-y: auto;
  padding: 10px;
}

html, body {
  height: 100%;
  margin: 0;
}

.background {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(133,133,133,0) 10%, rgba(133, 133, 133, 0) 30%, rgb(43, 44, 54) 100%);
  content: "";
}

.button {
  width: auto;
  height: 10%;
  color: white;
  margin: auto;
  position: relative;
  top: 10%;
  margin-top: 0.5rem;
  overflow: hidden;
  padding: 0.45rem;
  border-style: solid;
  border-width: 0.15rem;
  border-color: rgba(110, 110, 119, 0.925);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.089) 0%, rgba(77, 79, 87, 0.177) 100%);
}

.icon {
  color: rgb(56,236,168);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: left;
}

.disabled > .icon {
  color: rgb(186, 81, 84);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: left;
}

.button:hover {
  transition: all 0.5s;
  background: radial-gradient(circle, rgba(38, 94, 86, 0.684) 0%, rgba(31, 79, 72, 0.256) 100%);
  border-style: solid;
  border-radius: 3px;
  border-width: 0.15rem;
  border-color: rgb(77, 164, 151);
}

.title {
  border-style: solid;
  border-radius: 3px;
  border-width: 0.15rem;
  border-color: rgba(110, 110, 119, 0.925);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.089) 0%, rgba(77, 79, 87, 0.177) 100%);
  width: auto;
  height: 10%;
  color: white;
  margin: auto;
  position: relative;
  top: 10%;
  margin-top: 0.5rem;
  overflow: hidden;
  padding: 1rem;
  border-radius: 0.15rem;
  display: flex;
  flex-direction: column;
}

/* .title > div.column > div.header {
  text-decoration: underline !important;
} */

.disabled {
  /* background: rgba(102, 102, 102, 0.9) !important; */
  background: radial-gradient(circle, rgba(105,46,47, 0.089) 0%, rgba(105,46,47, 0.177) 100%) !important;
  border-color: rgb(101, 44, 45);
  cursor: not-allowed;
}

.disabled:hover {
  background: radial-gradient(circle, rgba(133, 58, 59, 0.089) 0%, rgba(105,46,47, 0.177) 100%) !important;
  cursor: not-allowed;
  border-style: solid;
  border-radius: 3px;
  border-width: 0.15rem;
  border-color: rgb(137, 60, 61);
}

div > .text {
  flex-direction: column;
  font-size: 0.85rem;
  overflow: hidden;
}

.header {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: left;
  overflow: wrap;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
}